{% extends "base.html" %}

{% block content %}
<main>
    {% for entry in blogEntries %}
    <article class="entry" id="{{entry.id}}">
        <h2 class="entry-title"><a href="/{{entry.id}}">{{entry.title}}</a></h2>
        <p class="entry-content">{{entry.entry}}</p>

        <section class="entry-footer">
            <div class="likes">
                {% if entry.author != username %}
                <button class="like-button" onclick="
                    {% if entry.liked %}
                        unlikePost
                    {% else %}
                        likePost
                    {% endif %}
                    ({{entry.id}})">
                    👍
                    {% if entry.liked %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>
                {% else %}
                    <span class="like-label">👍 Likes:</span>
                {% endif %}
                <span class="like-count">{{entry.likeCount}}</span>
            </div>
            <div class="comments" onclick="return toggleComment({{entry.id}});">
                <button class="comment-button">
                    💬 Comment
                </button>
                <span class="comment-count">{{entry.commentCount}}</span>
            </div>
            {% if entry.author == username %}
            <form class="edit" action="editpost/{{entry.id}}" method="get">
                <button class="edit-post" type="submit">Edit</button>
            </form>
            <div class="delete">
                <button class="delete-post" onclick="verifyDeletePost({{entry.id}})">Delete</button>
            </div>
            {% endif %}
            <span class="entry-posted">Written on {{entry.posted}} by {{entry.author}}</span>
        </section>

        <section class="comments-section no-display">
            <form class="write-comment" onsubmit="return addComment({{entry.id}}, '{{username}}');">
                <textarea name="comment" type="text" placeholder="Type a comment, hit enter to submit..."></textarea>
            </form>
            {% for comment in entry.comments %}
                <!-- If modifying this code, be sure to make
                     corresponding modifications to the addComment
                     function in main.js -->
                <section class="comment" id="{{comment.id}}">
                    <p class="comment-text">
                        {{comment.comment}}
                    </p>

                    <div class="comment-footer">
                        <div class="comment-likes">
                            {% if comment.author == username %}
                                <span class="like-comment-label">👍 Likes: </span>
                            {% else %}
                                <button class="like-comment-button" onclick="
                                  {% if comment.liked %}
                                    unlikeComment
                                  {% else %}
                                    likeComment
                                  {% endif %}
                                  ({{comment.id}}, {{entry.id}})">
                                  👍
                                  {% if comment.liked %}
                                      Unlike
                                  {% else %}
                                      Like
                                  {% endif %}
                                </button>
                            {% endif %}
                            <span class="like-comment-count">{{comment.likeCount}}</span>
                        </div>
                        <button class="comment-edit" onclick="editCommentInput({{comment.id}}, {{entry.id}})">Edit</button>
                        <button class="comment-delete" onclick="deleteComment({{comment.id}}, {{entry.id}})">Delete</button>
                        <span class="comment-posted">Written on {{comment.posted}} by {{comment.author}}</span>
                    </div>
                    <br>
                </section>
            {% endfor %}
        </section>
        <hr>
    </article>
    {% endfor %}
</main>

<footer>
    <p class="newpost"><a href="/newpost">Click to add a new entry</a></p>
</footer>

<div class="dialog" id="delete-post-dialog" title="Delete Post?">
    <p class="message">
        Delete this post?  This action cannot be reversed.
    </p>
    <button name="delete" onclick="">Delete</button>
    <button name="cancel" onclick="closeDialog(this)">Cancel</button>
</div>

<div class="dialog" id="edit-comment-dialog" title="Edit Comment">
    <form onsubmit="">
        <input name="comment" type="text" value="">
        <button type="submit">Save changes</button>
        <button onclick="closeDialog(this)">Cancel</button>
    </form>
</div>
{% endblock content %}
