{% extends "base.html" %}

{% block content %}
<main>
    {% for entry in blogEntries %}
    <article class="entry" id="{{entry.id}}">
        <h2 class="entry-title"><a href="/{{entry.id}}">{{entry.title}}</a></h2>
        <p class="entry-content">{{entry.entry}}</p>
        <section class="entry-footer">
            <div class="likes">
                {% if entry.author != username %}
                <button class="like-button" onclick="{% if entry.liked %}unlikePost
                        {% else %}likePost{% endif %}({{entry.id}})">
                    {% if entry.liked %} Unlike {% else %} Like {% endif %}
                </button>
                {% else %}
                    Likes:
                {% endif %}
                <div class="like-count">
                    {{entry.likeCount}}
                </div>
            </div>
            <div class="comments">
                <div class="comment-button">
                    Comments
                </div>
                <div class="comment-count">
                    {{entry.commentCount}}
                </div>
            </div>
            {% if entry.author == username %}
            <form class="edit" action="editpost/{{entry.id}}" method="get">
                <button class="edit-post" type="submit">Edit</button>
            </form>
            <div class="delete">
                <button class="delete-post" onclick="verifyDeletePost({{entry.id}})">Delete</button>
            </div>
            {% endif %}
            <span class="entry-posted">Written on {{entry.posted}} by {{entry.author}}</span>
        </section>
        <section class="comments-section">
            <form class="write-comment" onsubmit="return addComment({{entry.id}});">
                <input name="comment" type="text" placeholder="Type a comment...">
            </form>
            {% for comment in entry.comments %}
                <!-- If modifying this code, be sure to make
                     corresponding modifications to the addComment
                     function in main.js -->
                <section class="comment" id="{{comment.id}}">
                    <div class="comment-header">
                        <span class="commenter-id">{{comment.author}}</span>
                        <span class="comment-date">{{comment.posted}}</span>
                    </div>
                    <p class="comment-text">
                        {{comment.comment}}
                    </p>
                    <br>
                </section>
            {% endfor %}
        </section>
        <hr>
    </article>
    {% endfor %}
</main>

<footer>
    <p class="newpost"><a href="/newpost">Click to add a new entry</a></p>
</footer>

<div class="dialog" id="delete-post-dialog" title="Delete Post?">

        <p class="message">
            Delete this post?  This action cannot be reversed.
        </p>
        <button name="delete" onclick="">Delete</button>
        <button name="cancel" onclick="closeDialog()">Cancel</button>

</div>

<div class="no-display" id="comment-template">

</div>

{% endblock content %}
